body {
  background-color: #f2f2f2;
}

.App {
  background-color: #f2f2f2;
  margin: 20px;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.ns-input {
  width: 320px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
}

.ns-input:focus {
  outline: none !important;
  border:1px solid rgb(0, 183, 255);
  box-shadow: 0 0 10px #719ECE;
}

.ns-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.ns-key-value {
  width: 96%;
  border-radius: 5px;
  border-width: 1px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 10px 20px 10px;
}

.ns-key {
  font-weight: 700;
  line-height: 0.5;
}

.ns-value {
  font-size: 16px;
  margin-bottom: 0;
}

.ns-time {
  font-size: 13px;
  color: #aaa;
  line-height: 0px;
}

.ns-info {
  width: 96%;
  border-radius: 5px;
  border-width: 1px;
  background-color: #17a2b8;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0px 10px;
}

.ns-info-name {
  font-weight: 700;
  line-height: 0.5;
}

.ns-info-code {
  line-height: 0.5;
}

.ns-info-id {
  line-height: 0.5;
}
